@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans+Oriya:wght@100..900&family=Tiro+Bangla:ital@0;1&display=swap');

body {
  font-family: "EB Garamond", "ED Garamond", Garamond,"Annapurna SIL", "Tiro Bangla", "Noto Sans Oriya", "Times New Roman", serif;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
