{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

<main>
{{ .Content }}

{{ if not .IsHome }}
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "02/01/2006" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ if .IsHome }}
<h3>Recent Posts</h3>
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range first 5 (sort (where $pages "Section" "!=" "") "Date" "desc") }}
  <li>
    <span class="date">{{ .Date.Format "02/01/2006" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
  <a href="/posts/">Show more...</a>
</ul>
<section id="friends">
<h3>Friends!</h3>
<div class="webring-links">
<a href="https://www.youtube.com/@Bread_Biryani" target="_blank" rel="noopener">breadbiryani</a>· 
<a href="https://neetcel.in" target="_blank" rel="noopener">cyanyan</a>· 
<a href="https://nsg650.github.io/" target="_blank" rel="noopener">NSG650</a>· 
<a href="https://ashifkhan31.github.io/" target="_blank" rel="noopener">silli_chilli</a>· 
<a href="https://mooofin.github.io/portfolio/" target="_blank" rel="noopener">mufffinn</a>· 
<a href="https://souls-syntax.github.io/portfolio/" target="_blank" rel="noopener">aakarsh</a> 
</div>
<section id="webring">
    <h3 style="margin:0;">Cool people webring</h3>
  <div
    style="display:flex;flex-wrap:wrap;align-items:center;gap:8px;padding-top:4px;">

    <a href="https://ring.0x650.com/random" target="_blank">
      <img src="/assets/img/0x650.gif" alt="0x650 Webring" width="88" height="31">
    </a>

    <a href="https://ring.seggs.lol/random" target="_blank">
      <img src="/assets/img/threadlocked.webp" alt="Threadlocked webring" width="88" height="31">
    </a>
  </div>

  <div class="webring-links" id="webring-links"></div>
  <p id="jsWarn">Failed to fetch webring. Javascript disabled?</p>
</section>
   <script>
    fetch("https://ring.0x650.com/get_members")
      .then(r => r.json())
      .then(sites => {
        const container = document.getElementById("webring-links");
        container.innerHTML = sites.filter(s => s.name !== "theindiandev").map(s =>
          `<a href="${s.website}" target="_blank" rel="noopener">${s.name.toLowerCase()}<\/a>`
        ).join(" · ");
	document.getElementById("jsWarn").style.display = "none";
      })
      .catch(() => {
         document.getElementById("jsWarn").textContent = "Failed to fetch webring. No internet? Unable to reach webring server.";
      });
  </script>
</main>
{{ end }}
{{ partial "footer.html" . }}
